* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

body {
  background-color: #000000d6;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #000000d6;

}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
