.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.normal {
   background: linear-gradient(to right, #a4a4a4 ,  #bdbdbd, #d7d5d5);
}

.grass{
    background: linear-gradient(to right, #05d821 ,  #27e721, #4cf946);
}

.fire{
    background: linear-gradient(to right, #ff3700 ,  #fb8338, #fd9731);
}

.water{
    background: linear-gradient(to right, #6bf1f6 ,  #8aeef4, #c5f6f6);
}

.electric{
    background: linear-gradient(to right, #eefa06 ,  #edf643, #edf469);
}

.ice{
    background: linear-gradient(to right, #039397 ,  #31ede4, #98d5d7);
}

.ground{
    background: linear-gradient(to right, #9b7306 ,  #cfa021, #dfbf69);
}

.flying{
    background: linear-gradient(to right, #090ff0 ,  #2d9dff, #5fb0f3);
}

.poison{
    background: linear-gradient(to right, #c628ea ,  #d85df3, #e898fa);
}

.fighting{
    background: linear-gradient(to right, #b1111c ,  #f72533, #ef8d8d);
}

.psychic{
    background: linear-gradient(to right, #f966de ,  #fa7ae3, #fbabed);
}

.dark{
    background: linear-gradient(to right, #2a2b2b ,  #3e3f3f, #6e6e6e);
}

.rock{
    background: linear-gradient(to right, #4d4215 ,  #907e36, #baa75b);
}

.bug{
    background: linear-gradient(to right, #a0d616 ,  #bcf235, #a7f652);
}

.ghost{
    background: linear-gradient(to right, #5a2f6f ,  #a357c9, #c675f5);
}

.steel{
    background: linear-gradient(to right, #514354 ,  #babdbd, #f5f5f5);
}

.dragon{
    background: linear-gradient(to right, #6f38f6 ,  #7f4ff9, #9b76f8);
}

.fairy{
    background: linear-gradient(to right, #f934e5 ,  #fa58ea, #f17ee5);
}


.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #ffffff;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #000000d6;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(1.2);
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.pokemon.highlight {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}


.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  background-color: #6c79db;
  color: #ffffff;
  padding: .25rem .5rem;
  margin: .25rem 0px;
  font-size: .625rem;
  border-radius: 1rem;
  border: none;
}




@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
